APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

DB_CONNECTION=pgsql
# DB_HOST=127.0.0.1
# DB_DATABASE=learn-filament
# DB_USERNAME=learn-filament
# DB_PASSWORD=secret

VITE_APP_NAME="${APP_NAME}"
